{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Pokedex</title>
    <link rel="stylesheet" href="{% static 'pokemon/styles.css' %}">
    <link rel="stylesheet" href="{% static 'pokemon/base.css' %}">
</head>

<body>
    <header>
        <img src="../../../static/pokemon/images/pokemon_logo.png">
        <form class="search-form" role="search" action="{% url 'pokemon_list' %}" method="GET">
            <input class="" type="search" name="search" placeholder="Search by pokemon or type"
                aria-label="Search" value="{{ search_query }}">
            <button class="search-button" type="submit">Search</button>
        </form>
        <a href="/logout/">Logout</a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% block extra_js %}{% endblock %}
</body>

</html>